.wrapper {
  width: 80%;
  min-width: 320px;
  border: 1px solid whitesmoke;
  padding: 5px;
  border-radius: 10px;
}

.wishes {
  margin-bottom: 12px;
}

.addWish {
  /* margin-top: 12px; */
}